<header class="site-header">
  <div class="container header-inner">
    <div class="brand-group">
      <a class="brand" href="index.html">BeFitMe</a>
      <div class="header-profile" data-header-profile hidden>
        <div class="header-profile-specialty" data-header-specialty hidden></div>
        <div class="header-profile-institution" data-header-institution hidden></div>
      </div>
    </div>
    <button type="button" class="btn header-auth-button" data-auth-button>Login</button>
  </div>
</header>
